

body{
  
  display: grid;
  grid-template-rows: 90px 3fr 90px;
  grid-template-columns: 1fr ;
  gap: 10px;
  

}
header{
  background-color: rgb(182, 114, 186);
  display: grid;
  grid-template-columns:auto auto ;
  border-radius: 20px;
  
}
h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  align-self: center;
  justify-self: center;
}
img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}





main{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  border-radius: 20px;
  border: solid rgb(224, 177, 224);
  background-color: rgb(225, 194, 229);

}

.sec1{
    
    color: rgb(0, 0, 0);
    border: solid rgb(217, 254, 82) 2px;
    border-radius: 20px;
    padding: 20px;
  }
.sec2{
    
    color: rgb(0, 0, 0);
    border: solid rgb(217, 254, 82) 2px;
    border-radius: 20px;
    padding: 20px;
  }
  .sec3{
    
    color: rgb(0, 0, 0);
    border: solid rgb(217, 254, 82) 2px;
    border-radius: 20px;
    padding: 20px;
  }
  .sec4{
    
    color: rgb(5, 5, 5);
    border: solid rgb(217, 254, 82) 2px;
    border-radius: 20px;
    padding: 20px;

}
table{
  background-color: aliceblue;
  border-radius: 10px;

justify-self: center;

width: 80%;
margin: 20px;
padding: 10px;
}

table th  {
font-size: x-large;
 font-family: Arial, Helvetica, sans-serif ;
}
table td{

    text-align: center;
}
ol{
    justify-self: center;

    margin: 20px;

}
ol li {
    font-size: x-large;
}



footer{
  background-color: rgb(182, 114, 186);
  border-radius: 20px;

}


